# # RUN line below for dev & test # #
# docker-compose -p mynute-go-core -f services/core/docker-compose.dev.yml up -d --force-recreate

services:
  postgres:
    image: postgres:17.5
    restart: always
    stop_grace_period: 30s
    stop_signal: SIGTERM
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - ./healthcheck.sh:/usr/local/bin/healthcheck.sh:ro
    env_file:
      - .env
    environment:
      - APP_ENV=${APP_ENV}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB_DEV}
      - POSTGRES_DB_PROD=${POSTGRES_DB_PROD}
      - POSTGRES_DB_TEST=${POSTGRES_DB_TEST}
      - POSTGRES_DB_DEV=${POSTGRES_DB_DEV}
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "/usr/local/bin/healthcheck.sh"]
      interval: 300s
      timeout: 5s
      retries: 10
      start_period: 5s
    command: ["/docker-entrypoint-initdb.d/init-db.sh"]
    networks:
      - mynute-app-network

  prometheus:
    image: prom/prometheus:v3.4.1
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - postgres
    networks:
      - mynute-app-network

  grafana:
    image: grafana/grafana:12.0.1
    restart: always
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - "${GRAFANA_ALIAS_PORT}:${GRAFANA_PORT}"
    depends_on:
      - prometheus
    networks:
      - mynute-app-network
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}

  loki:
    user: root
    restart: always
    image: grafana/loki:3.5.1
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/loki-config.yaml
      - loki-index:/loki/index
      - loki-cache:/loki/cache
      - loki-chunks:/loki/chunks
      - loki-compactor:/loki/compactor
      - loki-wal:/loki/wal
    networks:
      - mynute-app-network

  minio:
    image: quay.io/minio/minio
    restart: always
    ports:
      - "9000:9000"   # API S3
      - "9001:9001"   # Console web
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    networks:
      - mynute-app-network
   
networks:
  mynute-app-network:

volumes:
  postgres-data:
  pgadmin-data:
  grafana-data:
  loki-index:
  loki-cache:
  loki-chunks:
  loki-compactor:
  loki-wal:
  minio-data:
