# PostgreSQL Environment Variables
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=maindb
POSTGRES_DB_TEST=testdb
POSTGRES_DB_DEV=devdb
TEST_DB_EXISTS=false
MAIN_DB_EXISTS=false
POSTGRES_HOST=localhost
POSTGRES_CA_FILE=/certificates/ca-cert.pem
POSTGRES_KEY_FILE=/certificates/ca-key.pem

# pgAdmin Environment Variables
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=8080
MAX_LOGIN_ATTEMPTS=20

#google Oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
COOKIES_KEY=
SECURE_COOKIE=false
HTTP_ONLY_COOKIE=true
MAX_AGE=86400
GOOGLE_URL_OAUTH=http://localhost:3000/auth/oauth/google/callback

#SMTP Settings
EMAIL_FROM=teste@teste.com
SMTP_HOST=smtp.gmail.com
SMTP_USER=client
SMTP_PASS=password
SMTP_PORT=587

#Fiber App Settings
APP_PORT=4000
APP_HOST=localhost
APP_ENV=dev

#Grafana Settings
GRAFANA_PORT=3000
GRAFANA_ALIAS_PORT=3001
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin