.env
*-data
tmp
__debug
*.exe
/test/e2e/*.exe
*uploads*
*local_uploads*
*my_files*
debug/output
*build*
*bin*
node_modules

# Playwright
/admin/playwright-report/
/admin/test-results/
/admin/playwright/.cache/
/admin/package-lock.json